Flask>=2.0
Flask-Cors
Flask-Login
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
PyMySQL
python-dotenv
eventlet
redis
pillow
pdf2image
reportlab
pdfrw
WeasyPrint
twilio
flask_bcrypt
gunicorn
pypdf
pypdfium2
psutil
pillow-heif
